  hanko-auth,
  hanko-profile {
    /* Color Scheme */
    --color: var(--text-color, #333333);
    --color-shade-1: var(--text-hover, #e5e6ef);
    --color-shade-2: var(--text-light, #8f9095);

    --brand-color: var(--primary-color, #506cf0);
    --brand-color-shade-1: var(--primary-hover, #6b84fb);
    --brand-contrast-color: var(--background-color, white);

    /* --background-color: var(--background-color, white); */
    --error-color: var(--danger-color, #e82020);
    --link-color: var(--primary-color, #506cf0);

    /* Font Styles */
    /* --font-weight: 400; */
    /* --font-size: 16px; */
    /* --font-family: sans-serif; */

    /* Border Styles */
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 1px;

    /* Item Styles */
    --item-height: 34px;
    --item-margin: 0.5rem 0;

    /* Container Styles */
    --container-padding: 30px;
    --container-max-width: 410px;

    /* Headline Styles */
    --headline1-font-size: 1.2rem;
    --headline1-font-weight: 600;
    --headline1-margin: 0 0 1rem;

    --headline2-font-size: 16px;
    --headline2-font-weight: 600;
    --headline2-margin: 1rem 0 0.5rem;

    /* Divider Styles */
    --divider-padding: 0 42px;
    --divider-visibility: visible;

    /* Link Styles */
    --link-text-decoration: none;
    --link-text-decoration-hover: underline;

    /* Input Styles */
    --input-min-width: 14em;

    /* Button Styles */
    --button-min-width: max-content;
  }
